/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.632);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.resume-container {
    display: flex;
    max-width: 900px;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

hr {
    border: 1px solid blue;
    margin-top: 5px ;
}

/* Cột bên trái */
.left-column {
    width: 35%;
    background-color: #E6E0D2;
    padding: 20px;
    text-align: center;
    border-right: 2px solid blue;

}

.profile-section img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    
    background-color: #fce4ec;
}

.left-column h3  {
    font-size: 18px;
    margin-top: 15px;
    color: #1E0EFF;
}

.left-column p, li {
    font-size: 14px;
    color: #4F4F4F; 
}

.left-column p {
    margin-top: 5px;
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word; 
}

.contact, .skills, .languages {
    margin-top: 20px;
    text-align: left;
}

.contact p, .skills ul, .languages p {
    margin-top: 5px;
}

.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills li {
    margin-bottom: 5px;
}

.skills li::before {
    content: "• ";
    color: #4F4F4F;
    font-weight: bold;
}

progress {
    width: 100px;
    height: 10px; 
    background-color: #E6E0D2 ;
    border: 0.5px solid blue;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    background-color: blue;
}
progress::-webkit-progress-bar {
    border-radius: 20px;
}
/* CSS để tùy chỉnh riêng biểu tượng Facebook,Git, Ins */
.fab.fa-facebook, .fab.fa-github, .fab.fa-instagram {
    font-size: 25px; 
    margin-top: 10px;
    margin-right: 10px; 
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu mượt */
}

.contact a:hover .fab.fa-facebook, .contact a:hover .fab.fa-github, .contact a:hover .fab.fa-instagram {
    color: #2d4373; /* Ví dụ: đổi màu đậm hơn khi di chuột qua */
}


/* Cột bên phải */
.right-column {
    background-color: #E6E0D2;
    width: 65%;
    padding: 30px;
}
.right-column p, i, li {
    color: #4F4F4F;
}

.right-column h3 {
    font-size: 18px;
    color: #1E0EFF; 
    margin-top: 15px;
}
h1 {
    font-size: 24px;
    color:  #1E0EFF; 
}

h2 {
    font-size: 18px;
    color:  #1E0EFF ; 
    margin-bottom: 20px;
}

.education, .experience {
    margin-top: 20px;
}

.edu-item, .exp-item {
    margin-top: 15px;
}

.edu-item {
    border-left: 2px solid blue;
    padding: 7px;

}
.edu-item p, .exp-item p {
    margin-bottom: 5px;
}

.exp-item ul {
    padding-left: 20px;
}

.exp-item ul li {
    list-style-type: disc;
    margin-bottom: 5px;
}
a  {
    text-decoration: none;
}

/* Biểu tượng */
i {
    margin-right: 8px;
    color: blue ;
}


